#connect-pane {
  display: flex;
  flex-direction: column;
}

#token-in-clipboard-note {
  align-self: center;
  background-color: lightyellow;
  margin: 8px 12px;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #aaa;
}

#token-input-row {
  padding: 8px;
  display: flex;
  place-content: center;
}

#token-input {
  width: 600px;
  padding: 8px 12px;
}

#connect-button-row {
  padding: 8px;
  display: flex;
  place-content: center;
}

#connect-button-row > * + * {
  margin-left: 12px;
}

#get-token-button {
  padding: 8px 12px;
}

#connect-button {
  padding: 8px 12px;
}