#vizzes-pane {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#selector-pane {
  display: flex;
  place-content: center;
  padding: 8px;
}

#viz-selector {
  padding: 4px 8px;
  border-radius: 4px;
}

#viz-pane {
  display: flex;
  place-content: center;
  color: gray;
}

#help-pane {
  display: flex;
  flex-direction: column;
  place-content: center;
  margin-top: 24px;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: orange;
}

.code {
  font-family: monospace;
}